.buttons button{
    display: block;
    margin: 10px 0;
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
    padding: 10px 16px;
    border-radius: 10px;
}
.buttons button:active {
    background-color: orangered;
}
.bg {
    background-color: rgb(4, 77, 24);
    color: #fff;
    padding: 40px 0;
}