.form input {
    display: block;
    margin: 20px 0;
}
.form input {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid rgb(7, 79, 7);
}
.form input:focus {
    outline: 1px solid rgb(2, 41, 2);
}